<!doctype html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>SY-LA-BY</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>

<body>

<a href="{{url_for("zakoncz_gre")}}"><div class="przerwij">Przerwij grę</div></a>


<div class="stos">
    {% if licza_kart_na_stosie != 0 %}
    <a href="{{ url_for('pobierz_karte', tryb_gry=tryb_gry) }}">
        {% endif %}
        <div>
            <img class="stos-img" src="/static/assets/stos.png" alt="stos">
            {% if licza_kart_na_stosie != 0 %}
            <div class="pobierz-ze-stosu">Pobierz ze stosu</div>
            {% else %}
             <div class="pobierz-ze-stosu">Stos jest pusty!</div>
            {% endif %}
        </div>
    </a>
</div>

<div class="flash">
    {% for message in get_flashed_messages() %}
        {{ message }}
    {% endfor %}
</div>

{% if tryb_gry=='cpu' %}
    <div class="pole_cpu">
        <p class="karty_napis"> Komputer: {{ punkty_cpu }}</p>
        <div class="karty_gracza">
            {% for karta in karty_gracza[0] %}
                <li class="karta_cpu"></li>
            {% endfor %}
        </div>
    </div>
{% endif %}


{% if ulozone_slowo %}
    <div class="ulozone_slowo"><p class="slowo_w_chmurce">{{ ulozone_slowo }}<p></p></div>
{% endif %}

<div>
    <div class="wartownik">{{ wartownik }}</div>
</div>


<div class="pole_gracza">
<p class="karty_napis"> {{ gracze[ruch_gracza] }}: {{ punkty }}</p>

    <div class="karty_gracza">
    {% for karta in karty_gracza[ruch_gracza] %}
        <a href="{{ url_for('wyloz_karte', karta=karta, tryb_gry=tryb_gry) }}"><li class="karta">{{ karta }}</li></a>
    {% endfor %}
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.0/socket.io.js"
        integrity="sha512-+l9L4lMTFNy3dEglQpprf7jQBhQsQ3/WvOnjaN/+/L4i0jOstgScV0q2TjfvRF4V+ZePMDuZYIQtg5T4MKr+MQ=="
        crossorigin="anonymous"></script>
<!-- Custom SocketIO JS -->
<script src="{{ url_for('static', filename='scripts/socketio2.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>