<!doctype html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>SY-LA-BY</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    {% block style %}
    {% endblock %}
</head>

<body>


<span class="sylaby_napis">SY-LA-BY</span>

    <span class="stos">
        <a href="/pobierz_karte">
            <div>
                <img class="stos-img" src="/static/assets/stos.png" alt="stos">
                <div class="pobierz-ze-stosu">Pobierz ze stosu</div>
            </div>
        </a>
    </span>

<div>
    {% for message in get_flashed_messages() %}
        {{ message }}
    {% endfor %}
</div>



<div class="">
<div class="wartownik">{{ wartownik }}</div>
</div>

<div class="pole_gracza">
<p class="karty_napis"> {{ gracze[ruch_gracza] }} </p>
    <div class="karty_gracza">
    {% for karta in karty_gracza[ruch_gracza] %}
        <li class="karta"><a href="{{ url_for('wyloz_karte', karta=karta) }}">{{ karta }}</a></li>
    {% endfor %}
    </div>
</div>

<form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
        <div class="form-group">
            {{ form.karta(class="form-control form-control-lg is-invalid") }}
        </div>
        <div class="form-group">
            {{ form.potwierdz(class="btn btn-outline-info") }}
        </div>
    </fieldset>

</form>

<div><a href="gra">DALEJ</a></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.0/socket.io.js"
        integrity="sha512-+l9L4lMTFNy3dEglQpprf7jQBhQsQ3/WvOnjaN/+/L4i0jOstgScV0q2TjfvRF4V+ZePMDuZYIQtg5T4MKr+MQ=="
        crossorigin="anonymous"></script>
<!-- Custom SocketIO JS -->
<script src="{{ url_for('static', filename='scripts/socketio2.js') }}"></script>
<!--<script type="text/javascript" charset="utf-8">-->
<!--    var socket = io();-->
<!--    socket.on('connect', function() {-->
<!--        socket.emit('my event', {data: 'I\'m connected!'});-->
<!--    });-->
<!--</script>-->
</body>
</html>